extends layout

block content
  
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='/') Estudiantes
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='agregar') Agregar
        li.nav-item
          a.nav-link(href='consultar') Consultar
        li.nav-item.active
          a.nav-link(href='grupo')
            | Grupo 
            span.sr-only (current)
      form.form-inline.mt-2.mt-md-0
        input.form-control.mr-sm-2(type='text' placeholder='Buscar' aria-label='Buscar')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Buscar
  main.container(role='main')
    form.form-agregar(_lpchecked="1" action="/grupo" method="POST")
      if msg
        .alert.alert-info(role="alert") #{msg} 
      if err
        .alert.alert-danger(role="alert") #{err} 
      .form-label-group
          input.form-control(name="grupo" id="inputGrupo" type="text" placeholder="Grupo" required="" autofocus="" autocomplete="off")
          label(for="inputGrupo") Grupo

      button.btn.btn-success.btn-block(type="submit") Consultar
    
    table.table.table-grupo
      thead
        tr
          th(scope="col") #
          th(scope="col") Correo
      tbody
        each val, index in data
          tr
            th(scope="col") #{index+1}
            td #{val.correo}

    hr