doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title= title + ' - Estudiantes'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')


  body
    block content

    footer
    .container
      div(align='center')
        | Desarrollado por 
        a(href='/') Wilson y Oscar

    link(rel='stylesheet', href='/js/jquery.min.js')
    link(rel='stylesheet', href='/js/popper.js')
    link(rel='stylesheet', href='/js/bootstrap.min.js')
